    <!-- <footer>
        <p class="lightblue">Powered by OpenBreweryDB</p>
        <p class="lightblue">Built by Bryan Ramos</p>
    </footer> -->

    <script src="./src/scripts/index.js" type="module"></script>
</body>
</html>