@import 'colors.css';

.--dark-mode
{
    background-color: $darkBackground;
    color: $whiteText;
}

.--dark-mode_results_list
{
    background-color: $darkResultsList;
}

li div.info-container.--dark-mode
{
    background-color: $darkBackground !important;
    color: $whiteText !important;
}

div#aboutContainer.--dark-mode
{
    background-color: $darkBackground;
    color: $whiteText;
}

i.fas.fa-heart.--dark-heart
{
    color: $darkResultsList;
}

div#likedOverlay.--dark-mode.--force-dark.show
{
    background-color: $darkBackground !important;
    color: $whiteText !important;
}