<% include ./partials/header %>
    <div id="landingContainer" class="container">
        <nav id="navigation-bar">
            <ul>
                <li id="aboutLink">About</li>
                <li id="fav-heart"><img src="/assets/fav-heart.png"></li>
            </ul>
        </nav>

        <div class="overlay" id="aboutOverlay">
            <div id="aboutContainer">
                <h1 class="lightblue">Welcome to Broogle</h1>
                <h3>Search for breweries in your area</h3>
                <img src="./assets/aboutimg.png"/>
                <h4>Version 1.0</h4>
                <a href="https://www.openbrewerydb.org/" class="lightblue">Powered by OpenBreweryDB</a>
                <a href="https://www.github.com/coffeecodecreate" class="lightblue">Built by Bryan Ramos</a>
            </div>
        </div>

        <div id="likeOverlay">
            <div id="likedContainer">
                <nav id="likedNav">
                    <h4 class="lightblue" id="closeLikePage">Go back</h4>
                </nav>
                <div id="likedImgContainer">
                    <img src="/assets/liked.png"/>
                    <h1>Saved Breweries</h1>
                </div>
            </div>
        </div>

        <div id="search">
            <div id="search-container">
                <h1>Broogle</h1>
                <form id="searchForm">
                        <input type="text" id="search__field"placeholder="Type in your state to find breweries near you.">
                        <button><i class="fas fa-search"></i></button>
                </form>

            </div>
        </div>
    </div>

    <div id="resultsContainer" class="container">
            <h1 >Results</h1>
        <ul id="results-list">
            <li>
                <a class="results__link">
                    <div class="info-container">
                        <h1 class="lightblue"><a href="">Almanac Beer Company</a></h1>
                        <h2>Address: </h2>
                        <h3>Phone#:</h3>
                        <h3 class="lightblue"><a href="">Get Directions</a></h3>
                        <h3 class="lightblue"><a href="">Save</a></h3>
                    </div>
                </a>
            </li>

            <li>
                <div class="info-container">
                        <h1 class="lightblue"><a href="">Almanac Beer Company</a></h1>
                        <h2>Address: </h2>
                        <h3>Phone#:</h3>
                        <h3 class="lightblue"><a href="">Get Directions</a></h3>
                        <h3 class="lightblue"><a href="">Save</a></h3>
                </div>
            </li>

                <li>
                        <div class="info-container">
                            <h1 class="lightblue"><a href="">Almanac Beer Company</a></h1>
                            <h2>Address: </h2>
                            <h3>Phone#:</h3>
                            <h3 class="lightblue"><a href="">Get Directions</a></h3>
                            <h3 class="lightblue"><a href="">Save</a></h3>
                        </div>
                    </li>
        </ul>
    </div>  
<% include ./partials/footer %>