@import 'colors.css';

i.fas.fa-cogs:hover
{
    cursor: pointer;
}


div.overlay#configOverlay
{
    position: fixed;
    display: flex;
    height: auto;
    top: 0;
    align-content: center;
    justify-content: center;
    display: none;
}

div.overlay#configOverlay.show
{
    display: flex;
}

#configContainer
{
    width: 50%;
    height: 90%;
    padding: 0;
    flex-direction: row;
    background-color: $whiteBackground;
    z-index:10;
}
#filters
{
    width: auto;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

#filters input
{
    margin-bottom: 20px;
}

#filters label
{
    font-size: 20px;
}

h2#dark-mode__header
{
    margin-top: 15px;
}