@import 'colors.css';

#resultsContainer
{
    margin-top: -50px;
    display: none;
}

#resultsContainer  h1
{
    text-align: center; 
    font-size: 48px;    
}
#results-list
{
    margin-top: 20px;
    height: inherit;
    background-color: $lightGrey;
}

#results-list li
{
    display: flex;
    flex-direction: row; 
    list-style: none;
    margin-bottom: 20px;
}


#results-list li div
{
    margin: 0 auto;
}

ul#results-list
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: $lightGrey;
    margin-bottom: 0;
}

ul#results-list.--dark-mode_results
{
    background-color: $darkResultsList;
}

#results-list li h2,h3
{
    font-weight: lighter;
    text-align: left;
}

#results-list li h1
{
    text-align: left;
    padding: -10px;
    margin: -15px 0; 
}

#results-list li a
{
    text-align: left;   
    padding: 0;
    margin: 0;
    text-decoration: none !important;  
    color: $lightBlue;
}


li div.info-container
{
    padding: 40px;
    width: 600px;
    background-color: $whiteBackground;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

li div.info-container.light
{
    background-color: $whiteBackground;
}

li div.info-container.--dark-mode
{
    background-color: $darkBackground;
    color: $whiteText;
}

@keyframes loaderRotate
{
    from {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);   
    }
}


@keyframes pointerFloat
{
    from {
        transform: translateY(0px);
    }
    to
    {
        transform: translateY(20px);   
    }
}

.loader
{
    font-size: 30px;
    display: inline-block;
    margin: 50px auto 0;
    color: $darkerBlue;
    animation: loaderRotate 1s linear infinite;
}

.pointer i 
{
    margin: 50px auto 0;
    display: inline-block;
    transform: rotateZ(180deg);
    font-size: 30px;
    animation: pointerFloat 2s linear infinite;
}